{% extends 'core/base.html' %}
{% block title %} BloodBank | Add {% endblock title %}

{% block content %}
<form class="container" method="POST" action=" ">
    {% csrf_token %}
    <div class="form-group">
      <label for="bank_name">Blood Bank Name :</label>
      <input type="text" class="form-control" id="bank_name" name="bank_name">
    </div>
    <div class="form-group">
        <label for="address">Blood Bank Address :</label>
        <input type="text" class="form-control" id="address" name="address">
    </div>
    <div class="form-group">
      <label for="phone_number">Phone Number :</label>
      <input type="number" class="form-control" id="phone_number" name="phone_number">
    </div>
    <div class="form-group">
      <label for="contact_persona_name">Contact Person Name :</label>
      <input type="text" class="form-control" id="contact_persona_name" name="contact_persona_name">
    </div>
    <div class="form-group">
        <label for="map">Google Map :</label>
        <input type="text" class="form-control" id="map" name="map">
    </div>
    <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" class="form-control" id="email" name="email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock content %}